p { color: red;}

p.green.big { color: green;}

p.green.bold { color:green; font-size: 25px; line-height: 30px; font-weight: bold;}

.p4 { Google fonts: 'limelight',cursive;}

div.box-1 { background-color: firebrick;}